{% extends "base.njk" %}

{% block content %}


  <main id="main-content" role="main">
    
    <div class="product-page-intro">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="heading-section-header">
              <h1 class="heading-section">Designing and building Defra digital services</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-width-container">
      <div class="govuk-main-wrapper"> 
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          
          
              

<div class="govspeak">


<div class="call-to-action">

<h2 id="accessibility-statement-for-website-name">Accessibility statement for Defra digital standards</h2>


<p>This accessibility statement applies to <a rel="external" href="https://defra.github.io/" class="govuk-link">defra.github.io.</a></p>


<p>This website is run by Defra digital. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

<ul>
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>navigate most of the website using just a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<p>We’ve also made the website text as simple as possible to understand.</p>

<p><a rel="external" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

<h3 id="how-accessible-this-website-is">How accessible this website is</h3>


<p>We know some parts of this website are not fully accessible:</p>

<ul>
  <li>you cannot skip to the main content when using a screen reader</li>
</ul>

<h3 id="feedback-and-contact-information">Feedback and contact information</h3>

<p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>

<ul>
  <li>email [email address]</li>
  <li>call [phone number]</li>
</ul>

<p>We’ll consider your request and get back to you in 10 days.</p>

<h3 id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h3>

<p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: [provide both details of how to report these issues to your organisation, and contact details for the unit or person responsible for dealing with these reports].</p>

<h3 id="enforcement-procedure">Enforcement procedure</h3>

<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
(the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>


<h2 id="contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</h2>

<p>We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>

<p>Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter.</p>

<p>Find out how to contact us [add link to contact details page].</p>

<h2 id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>

<div class="call-to-action">
<p>[Note: this form of wording is legally required, so do not change it.]</p>
</div>

<p>[Name of organisation] is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<h3 id="compliance-status">Compliance status</h3>

<div class="call-to-action">
<p>[Note: say that the website is fully compliant if the website meets WCAG 2.1 AA standard in full. Say that it’s partially compliant if it meets most requirements of the WCAG 2.1 AA standard. If it does not meet most requirements of the WCAG 2.1 AA standard, say that it’s not compliant.</p>

<p>If your website is either partially compliant or not compliant WCAG 2.1 AA standard, you’ll need to explain why. This will be due to one or both of the following:</p>

<ul>
  <li>non-compliances - this means the content in question is in scope of the regulations, but there’s an accessibility problem with it</li>
  <li>an exemption - this means the inaccessible content is out of scope of the regulations, or it’d be a disproportionate burden for you to make it accessible</li>
</ul>

<p>There’s a legally required way of expressing the compliance status of your website, so do not change it. The 3 options are as follows:]</p>
</div>

<p>This website is fully compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

<p>This website is partially compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to [insert one of the following: ‘the non-compliances’, ‘the exemptions’ or ‘the non-compliances and exemptions’] listed below.</p>

<p>This website is not compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard. The [insert one of the following: ‘non-compliances’, ‘exemptions’ or ‘non-compliances and exemptions’] are listed below.</p>

<div class="call-to-action">
<p>[Note: delete the options that do not apply.]</p>
</div>

<h2 id="non-accessible-content">Non-accessible content</h2>

<p>The content listed below is non-accessible for the following reasons.</p>

<p>GitHub?</p>

<h2 id="what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>

<div class="call-to-action">
<p>[Note: publishing an accessibility roadmap is optional. It’s a good idea to publish one if you want to be specific about the order you’re planning to tackle accessibility issues, and there’s no space to do so in the accessibility statement itself.]</p>
</div>

<p>Our accessibility roadmap [add link to roadmap] shows how and when we plan to improve accessibility on this website.</p>

<h2 id="preparation-of-this-accessibility-statement">Preparation of this accessibility statement</h2>

<div class="call-to-action">
<p>[Note: the wording about when the statement was prepared is legally required, so do not change it.]</p>
</div>

<p>This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed].</p>

<p>This website was last tested on [date]. The test was carried out by [add name of organisation that carried out test, or indicate that you did your own testing].</p>

<p>We used this approach to deciding on a sample of pages to test [add link to explanation of how you decided which pages to test].</p>


            
            </div>
          </div>



        </div>
      </div>
    </div>


  </main>



<div class="footer-container">
      <footer class="govuk-width-container">
        <div class="wrapper-footer__system">
          <div class="footer-message">
            <p>A Defra Digital, Data and Technology service</p>
          </div>
          {# <div class="footer-menu">
            <ul>
              <li><a href="accessibility-statement">Accessibility statement</a></li>
            </ul>
          </div> #}
        </div>
      </footer>
    </div>


{% endblock %}