{% extends "base.njk" %}

{% block content %}


  <main id="main-content" role="main">
    
    <div class="product-page-intro">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="heading-section-header">
              <h1 class="heading-section govuk-heading-l">Designing and building Defra digital services</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-width-container">
      <div class="govuk-main-wrapper defra-main-wrapper"> 
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          <div class="govuk-inset-text no-margin-top">
            Design, Software Development, Test and Analytics standards for Defra.
          </div>
              <h2 class="govuk-heading-l">Design Standards</h2>
              <p class="govuk-body">All Defra's online services must be designed to meet the Government service standard, accessibility requirements and user needs.</p>
              <p class="govuk-body"><a href="https://github.com/DEFRA/design-standards" class="govuk-link">Read Defra's Design standards</a></p>
              
              <h2 class="govuk-heading-l">Software Development Standards</h2>
              <p class="govuk-body">All Defra's online services must be consistent and of a high quality.</p>
              <p class="govuk-body"><a href="https://defra.github.io/software-development-standards/" class="govuk-link">Read Defra's Software Development standards</a></p>


              <h2 class="govuk-heading-l">QA and Test Standards</h2>
              <p class="govuk-body">All Defra's online services must meet the minimum quality assurance (QA) and testing standards.</p>

              <p class="govuk-body"><a href="https://github.com/DEFRA/software-development-standards/blob/master/standards/quality_assurance_standards.md" class="govuk-link">Read Defra's QA and Test standards</a></p>


              <h2 class="govuk-heading-l">Analytics standards</h2>
              <p class="govuk-body">All Defra's online services must meet Analytics standards for measuring, reporting and improving performance.</p>
              <p class="govuk-body"><a href="https://github.com/DEFRA/analytics-standards" class="govuk-link">Read Defra's analytics standards</a></p>
            
            </div>
          </div>



        </div>
      </div>
    </div>


  </main>




<div class="footer-container">
      <footer class="govuk-width-container">
        <div class="wrapper-footer__system">
          <div class="footer-message">
            <p class="govuk-body defra-footer-text">A Defra Digital, Data and Technology service</p>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a href="accessibility-statement" class="govuk-link" >Accessibility statement</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>



{% endblock %}
