/*
  Defra Digital standards main styles.

  Gov.uk styles are compiled separately
  ----------------------------------- */

  // Settings

  $green: #00a33b;
  $white: #FFFFFF;
  $base-grey-light: #f3f2f1; 
  $base-grey-medium: #F1F1F1;
  $border-grey: darken( $base-grey-medium, 15% );
  $dark-grey: #3B3B3B;
  $app-light-grey: #f8f8f8;

  body {
    margin: 0;
  }

  .govuk-main-wrapper.defra-main-wrapper {
    padding-top: 0;
}

  // Defra Components

  @import "components/header";
  @import "components/footer";
  @import "components/banner";

