<h1 id="accordion">Accordion<a class="tdbc-anchor" href="#accordion">#</a></h1>
<h2 id="installation">Installation<a class="tdbc-anchor" href="#installation">#</a></h2>
<p>See the <a href="https://github.com/alphagov/govuk-frontend#quick-start">main README quick start guide</a> for how to install this component.</p>
<h2 id="guidance-and-examples">Guidance and Examples<a class="tdbc-anchor" href="#guidance-and-examples">#</a></h2>
<p>Find out when to use the details component in your service in the <a href="https://design-system.service.gov.uk/components/accordion">GOV.UK Design System</a>.</p>
<h2 id="component-options">Component options<a class="tdbc-anchor" href="#component-options">#</a></h2>
<p>Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.</p>
<p><code>id</code> option given to instances of the component must be <strong>unique</strong> across the domain of your service (as the expanded state of individual instances of the component persists across page loads using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage"><code>localStorage</code></a>).</p>
<p>See <a href="https://design-system.service.gov.uk/components/accordion/#options-example-default">options table</a> for details.</p>
